// Paleta de colores
$light-green: #ECF5CE;
$light-blue: #00C9D9;
$dark: #1F2900;
$brow: #4B562F;

// Otros colores
$base-color: #FFFFFF;
$color-html: #FF6868;
$color-css: #6889FF;
$color-js: #D8FF68;

// Fuente
$font: 'Nunito';