// Paleta de colores
$color1: #eae2b7;
$color2: #f77f00;
$color3: #fcbf49;
$color4: #003049;
$color5: #d62828;

// Otros colores
$base-color: #FFFFFF;
$color-html: #FF6868;
$color-css: #6889FF;
$color-js: #D8FF68;

// Fuente
$font: 'Nunito';