@import 'vars';

.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #C9BBBB;
  font-family: $font;
  font-size: 14px;
  border-radius: 0 0 8px 8px;

  .Footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;

    @media (max-width: 500px) {
      flex-direction: column;
    }

    .Footer-description {
      padding: 0 1rem;
      width: 40%;
      box-sizing: border-box;

      @media (max-width: 500px) {
        width: 100%;
      }
    }

    .Footer-project {
      padding: 0 1rem;
      width: 40%;
      box-sizing: border-box;


      & a {
        text-decoration: none;
      }

      @media (max-width: 500px) {
        width: 100%;
      }
    }

    .Footer-navigation {
      padding: 0 1rem;
      width: 20%;
      box-sizing: border-box;

      @media (max-width: 500px) {
        width: 100%;
      }

      .Links {
        ul {
          list-style: none;
          padding: 0;

          @media (max-width: 500px) {
            width: 100%;
            display: flex;
            justify-content: space-between;
          }

          a {
            text-decoration: none;
            margin-bottom: 0.3rem;
            color: black;
          }

          a:hover {
            color: $color1
          }
        }
      }
    }
  }

  .Footer-separator {
    width: 95%;
    height: 2px;
    margin: 0 1rem;
    background-color: #AA9D9D;
  }



}