@import 'vars';

.Header-container {
  position: relative;
  display: flex;
  font-family: 'Nunito';
  color: $base-color;
  min-height: 350px;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  text-align: center;
  overflow: hidden;

  @media (max-width: 600px) {
    flex-direction: column;
  }

  .Header-title {
    z-index: 1;

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  .Header-crystal {
    position: absolute;
    border-radius: 50px;
    background: linear-gradient(-254deg, #4b562f66 0%, #00c9d959 98.79%);
    box-shadow: 10px 10px 60px #00abb814, -10px -10px 60px #00dbed;
    z-index: 0;
  }

  .first {
    width: 300px;
    height: 300px;
    right: 70%;
    rotate: -245deg;
  }

  .second {
    width: 200px;
    height: 200px;
    left: 84%;
    bottom: -76px;
    rotate: -198deg
  }

  .third {
    width: 500px;
    height: 500px;
    left: 37%;
    top: -197px;
    rotate: -306deg;
  }


}

.Header-Button {
  color: $light-green;
  text-decoration: none;
  font-size: 18px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
  z-index: 1;

  & div {
    display: flex;
    justify-content: space-between;
    width: 130px;
  }

  & div a {
    text-decoration: none;
    color: $light-green;
  }



  &::before {
    margin-left: auto;
  }

  &::after,
  &::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #ECF5CE;
    display: block;
    transition: 0.5s;
  }

  &:hover::after,
  &:hover::before {
    width: 100%;
  }

}


.Header-image {
  position: relative;
  min-width: 360px;
  height: 300px;
  align-items: center;
  display: flex;
  justify-content: center;


  .myImage {
    position: absolute;
    z-index: 1;
  }

  .codeSnippet {
    position: absolute;
    z-index: 3;
    left: 0;
    animation: closedSnippet1 3s linear infinite;



    @media (max-width: 350px) {
      opacity: 0;
    }
  }

  .codeSnippet1 {
    position: absolute;
    z-index: 3;
    right: 0;
    animation: closedSnippet2 3s linear infinite;

    @media (max-width: 350px) {
      opacity: 0;
    }
  }

  .apiIcon {
    position: absolute;
    top: 55px;
    right: 90px;
    z-index: 0;
    animation: spin 3s linear infinite;

  }


}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes closedSnippet1 {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes closedSnippet2 {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-15px);
  }

  100% {
    transform: translateX(0px);
  }
}