@import 'vars';

.Header-container {


  position: relative;
  display: flex;
  font-family: 'Nunito';
  color: $base-color;
  min-height: 450px;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  text-align: center;
  overflow: hidden;
  z-index: 0;


  @media (max-width: 700px) {
    flex-direction: column;
  }



  .Header-crystal {
    position: absolute;
    border-radius: 50px;
    background: linear-gradient(-254deg, $color5 20%, color2 98.79%);
    box-shadow: 10px 10px 60px $color5, -10px -10px 60px $color2;
    z-index: 0;
  }

  .first {
    width: 300px;
    height: 300px;
    right: 70%;
    rotate: -245deg;
  }

  .second {
    width: 200px;
    height: 200px;
    left: 84%;
    bottom: -76px;
    rotate: -198deg
  }

  .third {
    width: 500px;
    height: 500px;
    left: 37%;
    top: -197px;
    rotate: -306deg;
  }


}