.Header-container {
  display: flex;
  background-image: linear-gradient(to right top, #1673ff, #4663c9, #4d5496, #484767, #3b3b3b);
  color: white;
  min-height: 350px;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.Header-image {
  position: absolute;
  right: 150px;
  top: 30px;
  width: 400px;

  .headerMan {
    width: 300px;
    position: absolute;
    top: 100px;
    z-index: 1;
    transition: 1s;
  }

  .headerBackground {
    width: 300px;
    position: absolute;
  }

  .headerText {
    width: 300px;
    position: absolute;
    top: -300px;
    transition: 1s;
  }
}

.Header-image:hover {
  .headerText {
    top: 0;
  }

}