@import 'vars';

.Layout {
  max-width: 1024px;
  width: 900px;
  border-radius: 8px 8px 8px 8px;
  background: linear-gradient(254deg, $brow 0%, $light-blue 98.79%);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.45);
}