$base-color: #FFFFFF;

.Navbar {
  display: flex;
  height: 2rem;
  align-items: center;
  justify-content: space-between;

  .icons-container {
    background-color: $base-color;
    width: 70%;
  }

  .icon {
    width: 1rem;
  }

  .Navbar-links {
    ul {
      display: flex;
      list-style: none;

      li {
        margin-right: 1rem;

        a {
          text-decoration: none;
        }
      }
    }

  }

}