@import 'vars';

.Product-detail {
  color: $base-color;
  font-family: $font;
  margin-bottom: 1rem;

  &>button {
    border-radius: 6px;
    border-radius: 8px;
    background: linear-gradient(315deg, #000000, #152341);
    box-shadow: -5px -5px 10px #080d18,
      5px 5px 10px #203562;
    border: none;
    cursor: pointer;
    display: flex;

    & a {
      padding: 1rem;
      font-family: $font;
      text-decoration: none;
      color: $base-color;
      width: 100%;
    }

    &:hover {
      background: linear-gradient(145deg, #000000, #152341);
      box-shadow: -5px -5px 10px #080d18,
        5px 5px 10px #203562;
      transition: all 0.5s ease-in-out;
    }

    @media (max-width: 630px) {
      width: 100%;
    }
  }

  &>p {
    margin-bottom: 1.5rem;
  }

  .Product-header {
    display: flex;

    &>img {
      margin-right: 1rem;
      border-radius: 6px;
    }

    .Technologies {
      display: flex;
      flex-wrap: wrap;
    }

    p {
      margin: 0 1rem 0 0;
      padding: 0;

    }

    p::before {
      content: "⭐";
      margin-right: 5px;
    }

    @media (max-width: 630px) {
      flex-direction: column;
    }
  }

}