@import 'vars';

.Social-network {
  display: flex;
  width: 50%;
  justify-content: space-around;
  padding: 1rem;

  svg {
    width: 35px;
    height: 35px;

    &:hover {
      color: $light-green;
    }
  }

}