@import '../vars';

.Contact_Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $font;
  color: $base-color;
  padding: 2rem;

  .Contact_Form {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 1rem;
    border-radius: 8px;
    background: #f77f00;
    box-shadow: 20px -20px 60px #d26c00,
      -20px 20px 60px #ff9200;
    margin: 1rem;
    border: 2px solid $color3;
    opacity: 0;

    .Form_input {
      position: relative;
      width: 100%;
      margin-bottom: 1rem;

      &>label {
        position: absolute;
        left: 10px;
        top: calc(50% - 12px);
      }

      & input,
      textarea {
        border: none;
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        padding: 0.5rem;
        outline: none;
        border-bottom: 2px solid $color5 ;
        background-color: transparent;
        font-family: $font;
        color: $base-color
      }

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0px 1000px $color2 inset;
      }

      input:-webkit-autofill {
        -webkit-text-fill-color: $base-color;
      }

      & textarea {
        min-height: 150px;
      }

      & input:focus~label,
      textarea:focus~label {

        color: $base-color;
        top: -10px;
        left: -5px;
        transition: 0.5s linear;
        font-size: 12px;
      }

      .Active_input~label {
        color: $base-color;
        top: -10px;
        left: -5px;
        transition: 0.5s linear;
        font-size: 12px;
      }


    }

    button {
      border: none;
      outline: none;
      padding: 0.5rem;
      border-radius: 6px;
      cursor: pointer;
      background: #f77f00;
      box-shadow: -19px 19px 38px #b95f00,
        19px -19px 38px #ff9f00;
      color: $base-color;
      font-family: $font
    }


    button:active {
      background: linear-gradient(45deg, #de7200, #ff8800);
      box-shadow: 20px -20px 60px #d26c00,
        -20px 20px 60px #ff9200;
    }

    @media (max-width: 700px) {
      width: 80%;

    }

  }

  @media (max-width: 700px) {
    flex-direction: column;
    padding: 2rem;
  }
}

.FormAnimationEntry {

  .Contact_Form {
    opacity: 1;
    animation: transitionLeft 0.5s ease-in-out;
  }

  .Contact_Social {
    animation: appear 1s linear;
    opacity: 1;
  }
}