.Contact_Header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  opacity: 0;

  .Contact_Header__Title {
    min-width: 300px;
    width: 40%;
    text-align: left;

    @media (max-width:730px) {
      width: 80%;
      min-width: 280px;
    }
  }

  .Contact_Header__Image {
    width: 50%;
    max-width: 400px;
  }

  @media (max-width:730px) {
    flex-direction: column;
  }
}

.HeaderAnimationEntry {
  opacity: 1;

  .Contact_Header__Title {
    animation: transitionLeft 0.5s ease-in-out;
  }

  .Contact_Header__Image {
    animation: transitionRight 0.5s ease-in-out;
  }
}