@import '../vars';

.Header-title {
  opacity: 0;
  z-index: 1;
  width: 50%;

  & h1>div {
    color: $color5;
    display: inline-block;
  }

  @media (max-width: 650px) {
    width: 100%;
  }
}

.Header-image {
  position: relative;
  width: 50%;
  max-width: 400px;
  min-width: 280px;
  height: 400px;
  align-items: center;
  display: flex;
  justify-content: center;
  opacity: 0;

  @media (max-width: 650px) {
    width: 100%;
  }

  .myImage {
    position: absolute;
    z-index: 1;
    width: 400px;

    @media (max-width: 650px) {
      width: 100%;
    }

  }

  .codeSnippet {
    position: absolute;
    z-index: 3;
    left: -10px;
    animation: closedSnippet1 3s linear infinite;



    @media (max-width: 350px) {
      opacity: 0;
    }
  }

  .codeSnippet1 {
    position: absolute;
    z-index: 3;
    right: -10px;
    animation: closedSnippet2 3s linear infinite;

    @media (max-width: 350px) {
      opacity: 0;
    }
  }

  .apiIcon {
    position: absolute;
    top: 20px;
    right: 90px;
    z-index: 0;
    animation: spin 3s linear infinite;

  }
}

.EntryAnimationHeaderHome {
  opacity: 1;
  animation: transitionLeft 0.5s ease-in-out;
}

.EntryAnimationHeaderHome~div {
  opacity: 1;
  animation: transitionRight 0.5s ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes closedSnippet1 {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes closedSnippet2 {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-15px);
  }

  100% {
    transform: translateX(0px);
  }
}