@import '../vars';

.Information {
  display: flex;
  font-family: $font;
  color: $base-color;
  padding: 2rem;
  justify-content: space-around;
  opacity: 0;

  @media (max-width:550px) {
    flex-direction: column;

    &>div {
      width: 100%;
    }

    &>div:nth-child(1) {
      margin-bottom: 1rem;
    }
  }
}


.About_habilities {
  display: flex;
  font-family: $font;
  color: $base-color;
  padding: 2rem;
  justify-content: space-around;
  opacity: 0;

  @media (max-width:550px) {
    flex-direction: column;

    &>div {
      width: 100%;
    }

    &>div:nth-child(1) {
      margin-bottom: 1rem;
    }
  }

}

.AboutInformationAnimation,
.AboutHabilityAnimation {
  opacity: 1;

  &>div:nth-child(1) {
    opacity: 1;
    animation: transitionLeft 0.5s ease-in-out;
  }

  &>div:nth-child(2) {
    opacity: 1;
    animation: transitionRight 0.5s ease-in-out;
  }

  .Aptitud_porcent {
    height: 5px;
    animation: growBar 1s ease-in;
    width: 100%;
  }

  @keyframes growBar {
    0% {
      transform: scaleX(0);
    }

    50% {
      transform: scaleX(0);
    }

    100% {
      transform: scaleX(100%);
    }
  }
}