@import '../vars';


.Aptitud_container {
  width: 45%;

  &>h2 {
    margin: 0;
  }

  .Aptitud {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;

    & p {
      margin: 5px 0;
      width: 60%;
    }


  }

  .Aptitud_porcent__container {
    width: 150px;
    height: 5px;
    background-color: $base-color;
    border-radius: 8px;

    .Aptitud_porcent {
      border-radius: 8px;
      background-color: $color5;
      transform-origin: 0;
    }
  }

  .Aptitud_download {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $color3;
    border-radius: 8px;
    padding: 1rem;

    &>p {
      z-index: 1;
      font-weight: bold;
    }



    .Download_button {
      width: 100%;
      height: 40px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      background: $color5;
      box-shadow: -2px 2px 7px #b95f00,
        2px -2px 7px #ff9f00;
      display: flex;
      align-items: center;
      justify-content: center;

      &>a {
        text-decoration: none;
        font-family: $font;
        color: $base-color;
        font-size: 1rem;
      }

      &:hover {
        transition: 1s linear;
        background: linear-gradient(225deg, #ff8800, $color5);
        box-shadow: -3px 3px 8px #b95f00,
          3px -3px 8px #ff9f00;
      }

      &:hover svg {
        animation: translate 2s linear infinite;
        animation-delay: 0.2s;
      }

      @keyframes translate {
        0% {
          transform: translateY(-10px);
          opacity: 0;
        }

        100% {
          transform: translateY(0px);
          opacity: 1;
        }
      }
    }
  }

}