.About {
  display: flex;
  z-index: 1;
  text-align: left;
  justify-content: space-around;
  align-items: center;

  &>img {
    opacity: 0;
    max-height: 390px;
  }

  @media (max-width:700px) {
    flex-direction: column;
  }


  .Header-title {
    width: 50%;
    padding: 1rem;


    @media (max-width:700px) {
      width: 100%;
      text-align: center;
    }
  }
}

.HeaderAboutAnimation {
  &>img {
    opacity: 1;
    animation: transitionLeft 0.5s ease-in-out;
  }

  .Header-title {
    opacity: 1;
    animation: transitionRight 0.5s ease-in-out;
  }
}