body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Nunito',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(31, 41, 0);
  background: -moz-radial-gradient(circle, #003049 0%, #d62828 100%);
  background: -webkit-radial-gradient(circle, #003049 0%, #d62828 100%);
  background: radial-gradient(circle, #003049 0%, #d62828 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1f2900", endColorstr="#ecf5ce", GradientType=1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}